<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>APO Sistem</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.0/dist/full.css" rel="stylesheet">
</head>
<div class="navbar bg-green-800 text-white">
    <div class="flex-1">
      <img src="/sumbar.png" alt="Logo" class="h-8 mr-2">
      <span class="font-bold text-lg">APO SISTEM</span>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a href="beranda" class="text-white">Beranda</a></li>
        <li><a href="pilihkel" class="text-white">Pengajuan</a></li>
        <li><a href="riwayat" class="text-white">Riwayat</a></li>
        <li><a href="#" class="text-white">Kontak</a></li>
      </ul>
    </div>
    <div class="flex-none">
      <span class="text-white mr-2">Nama Anda</span>
      <button class="btn btn-circle bg-green-600 border-none">
      </button>
    </div>
  </div>