
<%- include('navbar')%>
<body class="bg-white">
  <!-- Table -->
  <div class="container mx-auto my-8 p-4">
    <table class="table-auto w-full border-collapse border border-gray-300">
      <thead>
        <tr class="bg-green-800 text-white">
          <th class="border border-gray-300 px-4 py-2">No</th>
          <th class="border border-gray-300 px-4 py-2">Nama Pengajuan</th>
          <th class="border border-gray-300 px-4 py-2">Tanggal Pengajuan</th>
          <th class="border border-gray-300 px-4 py-2">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <!-- Row 1 -->
        <tr class="bg-green-100">
          <td class="border border-gray-300 px-4 py-2 text-center">1</td>
          <td class="border border-gray-300 px-4 py-2">Nama Pengajuan 1</td>
          <td class="border border-gray-300 px-4 py-2 text-center">01-01-2023</td>
          <td class="border border-gray-300 px-4 py-2 text-center">
            <a href="#" class="btn btn-sm bg-green-800 text-white w-full">Detail</a>
            <a href="/user/buatLaporan" class="btn btn-sm bg-green-800 text-white w-full">Laporan</a>
          </td>
        </tr>
        <!-- Row 2 -->
        <tr class="bg-green-50">
          <td class="border border-gray-300 px-4 py-2 text-center">2</td>
          <td class="border border-gray-300 px-4 py-2">Nama Pengajuan 2</td>
          <td class="border border-gray-300 px-4 py-2 text-center">02-01-2023</td>
          <td class="border border-gray-300 px-4 py-2 text-center">
            <a href="#" class="btn btn-sm bg-green-800 text-white w-full">Detail</a> 
            <a href="/user/buatLaporan" class="btn btn-sm bg-green-800 text-white w-full">Laporan</a>
          </td>
        </tr>
      </tbody>
    </table>
 
    <%- include('footer')%>