
  <div class="flex min-h-screen">
    <%- include('../admin/sidebarAdm')%>
    <!-- Main Content -->
    <div class="flex-1 p-6">
      <h1 class="text-3xl font-bold mb-6">Dashboard</h1>

      <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
        
        <div class="bg-green-200 p-4 rounded-lg shadow-md flex items-center">
          <div class="text-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
              <path d="M8.5 2a.5.5 0 00-.5.5v15a.5.5 0 001 0v-15a.5.5 0 00-.5-.5zM2 6.5a.5.5 0 01.5-.5h15a.5.5 0 010 1h-15a.5.5 0 01-.5-.5zm2 4a.5.5 0 01.5-.5h11a.5.5 0 010 1h-11a.5.5 0 01-.5-.5zm1.5 4.5a.5.5 0 000-1h8a.5.5 0 100 1h-8z" />
            </svg>
          </div>
          <div class="ml-4">
            <p class="text-lg font-bold">1200</p>
            <p>Stok Tanaman</p>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-green-100 p-4 rounded-lg shadow-md flex items-center">
          <div class="text-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10 1c.184 0 .366.02.542.06l.553.11a1 1 0 01.38.2l.065.065A1 1 0 0112 2.29l.06.542c.04.176.06.358.06.542V10h7a1 1 0 011 1v6a1 1 0 01-1 1h-7v7a1 1 0 01-1 1H5a1 1 0 01-1-1v-7H1a1 1 0 01-1-1v-6a1 1 0 011-1h7V3a1 1 0 01.757-.97l.532-.085c.176-.04.358-.06.542-.06z" />
            </svg>
          </div>
          <div class="ml-4">
            <p class="text-lg font-bold">130</p>
            <p>Stok Keluar</p>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-green-300 p-4 rounded-lg shadow-md flex items-center">
          <div class="text-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 2a2 2 0 00-2 2v.293A6.5 6.5 0 1014.293 12H16a2 2 0 002-2V4a2 2 0 00-2-2h-6zm-4 2a1 1 0 00-1 1v3.5A4.5 4.5 0 1011.5 16h3.5a1 1 0 001-1v-2.293A6.502 6.502 0 0012 8.5V7h-1.5a4.5 4.5 0 00-5.5 4.5V12a4.5 4.5 0 00-.5-6z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="ml-4">
            <p class="text-lg font-bold">6</p>
            <p>Pengguna</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html> -->
